


<link rel="stylesheet" type="text/css" href="./../CSS/forum.css">

<div id="forum" ng-controller="forumController">

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Post</button>

    <div id="forum-posts">

        <div id="post-{{post._id}}" class="single-post"   ng-repeat="post in posts | filter:search | orderBy: created_at" >

            <input type="checkbox" id="id{{post._id}}"   class="post">
            <div  class="plus">+</div>
            <label  for="id{{post._id}}" class="title" ng-click="showComments($event); ">
                    {{post.title}}
            </label>

            <div class="description"> <span class="name-span"> {{post.userName}}</span>: {{post.description}}      </div>

             <form class="form-inline form-comment" role="form" ng-submit="addComment(post._id)">
                    
                    <div class="form-group username-box ">
                         <input type="text" class="form-control " name="userName" placeholder="your name" ng-model="newComment.userName" ng-init="newComment.userName = '' ">
                    </div>
                     <div class="form-group comment-box ">
                         <input type="text"  class="form-control " name="comment" placeholder="commenting.." ng-model="newComment.comment" ng-init="newComment.comment='' "></input>
                    </div>
                    <input type="hidden" class="hidden_id" name="post_id" ng-value="">
                    <button type="submit" class="btn btn-default pull-right" style="margin-top:0;height:40px;">Submit</button>
                   
            </form>

            <div class="comments">
                <div class="comment" ng-repeat="comment in comments | filter:search | orderBy: 'created_at'" >
                        {{comment.comment}}  By <span class="name-span">{{comment.userName}}</span>
                </div>
            </div>




        </div>


    </div>






    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">New Post</h4>
                </div>

                <div class="modal-body">
                    <form role="form" ng-submit="addPost($event)">
                        <div class="form-group">
                            <label for="userName">User Name:</label>
                            <input type="userName" class="form-control" id="userName" placeholder="Enter User Name" ng-model="newPost.userName" ng-init="newPost.userName = '' ">
                        </div>
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="title" class="form-control" id="title" placeholder="Enter Title" ng-model="newPost.title" ng-init="newPost.title = '' ">
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="5" id="description" ng-model="newPost.description" ng-init="newPost.description = '' "></textarea>
                        </div>

                        <button type="submit" class="btn btn-default"  >Submit</button>
                    </form>
                </div>

            </div>


        </div>
    </div>





    <div id="hidden-post" class="single-post" >
        <input type="checkbox" id=""   class="post">
        <div    class="plus">+</div>
        <label  for="" class="title" ng-click="showComments($event); ">

        </label>




            <div class="description">


            </div>



             <form class="form-inline form-comment" role="form" ng-submit="">
                    <div class="form-group username-box">
                         <input type="text" class="form-control " name="userName" placeholder="your name" ng-model="newComment.userName" ng-init="newComment.userName = '' ">
                    </div>
                     <div class="form-group comment-box">
                         <input type="text"  class="form-control " name="comment" placeholder="commenting.." ng-model="newComment.comment" ng-init="newComment.comment='' "></input>
                    </div>
                    <input type="hidden" class="hidden_id" name="post_id" ng-value="">
                    <button type="submit" class="btn btn-default">Submit</button>
            </form>

            <div class="comments">
                <div class="comment" >

                </div>
            </div>




    </div>









</div>
