<link rel="stylesheet" type="text/css" href="css/header.css">

<div class="header-div">

	<p class="header">#OPERATION<span class="rescue">RESCUE</span></p>
	<p class="subtitle">a unified global effort to help North Koreans find freedom - one refugee at a time</p>

</div>

<nav class="navbar navbar-inverse">
	<ul class="nav navbar-nav">
		<li><a href="#">Latest<span class="sr-only">(current)</span></a></li>
		<li><a href="#">Photos</a></li>
		<li><a href="#">Teams</a></li>
		<li><a href="#">Forum</a></li>
	</ul>
</nav>
