
<div class="header-div">

	<img src="./../IMG/logo.png" id="logo">
<!-- 	<img src="http://nieuwevriendenvansec3.weebly.com/uploads/1/7/5/0/17504941/1666180_orig.jpg" id="speedy">	 -->

	<p class="header">#SAVE<span class="rescue">JUNGHA</span></p>
	<p class="subtitle">350 Rescue Teams. One Mission.</p>

		<div id="overlay">
			<p class="progress">$1440 Raised, $1560 To Go</p>
		</div>

		<img src="./../IMG/jungha.png" id="jungha">

</div>


<div id="updates">

	<div ng-controller="contributionController">
		<h1>Updates</h1>
		<div ng-repeat="contribution in contributions">
			<div ng-if="contribution.contribution == true">
				<p>Team <span ng-bind="contribution.team"></span> contributed $<span ng-bind="contribution.amount"></span> - <span ng-bind="contribution.created_at | date: short"></span></p>
			</div>
			<div ng-if="contribution.contribution == false">
				<p>Team <span ng-bind="contribution.team"></span> says: <span ng-bind="contribution.description"></span> - <span ng-bind="contribution.created_at | date: short"></span></p>
			</div>
		</div>
	</div>

</div>
