<!--Gallery-->
    <section class="page-block" id="gallery">
    	<div class="container">
        <div class="row page-header">
        <img id="social_logo" src="img/logo/logo.png" alt="LINK logo" width=50 height=50>
          <h2 id="social_h2">Social</h2>
          <span id="social_tag">#LibertyInNorthKorea</span>
        </div>
        <div class="row">
          <ul class="gallery">
            <li>
                <img src="img/insta/1.png" alt="thumb01"/>
            </li>
            <li>
                <img src="img/insta/2.png" alt="thumb02"/>
            </li>
            <li>
                <img src="img/insta/3.png" alt="thumb03"/>
            </li>
            <li>
                <img src="img/insta/4.png" alt="thumb04"/>
              </a>
            </li>
            <li>
                <img src="img/insta/5.png" alt="thumb05"/>
            </li>
            <li>
                <img src="img/insta/6.png" alt="thumb06"/>
            </li>
            <li>
                <img src="img/insta/7.png" alt="thumb07"/>
            </li>
            <li>
                <img src="img/insta/8.png" alt="thumb08"/>
            </li>
          </ul>
        </div>
      </div>
    </section>
