<div ng-controller="InstagramController">
<!--Gallery-->
    <section class="page-block" id="gallery">
        <div class="row page-header">
        <img id="social_logo" src="img/logo/logo.png" alt="LINK logo" width=50 height=50>
          <h2 id="social_h2">Social</h2>
          <span id="social_tag">#LibertyInNorthKorea</span>
        </div>
        <div class="row">
          <ul class="gallery">
            <li>
                <img src="{{pictures.data[0].images.standard_resolution.url}}" alt="thumb01"/>
            </li>
            <li>
                <img src="{{pictures.data[1].images.standard_resolution.url}}" alt="thumb02"/>
            </li>
            <li>
                <img src="{{pictures.data[2].images.standard_resolution.url}}" alt="thumb03"/>
            </li>
            <li>
                <img src="{{pictures.data[3].images.standard_resolution.url}}" alt="thumb04"/>
              </a>
            </li>
            <li>
                <img src="{{pictures.data[4].images.standard_resolution.url}}" alt="thumb05"/>
            </li>
            <li>
                <img src="{{pictures.data[5].images.standard_resolution.url}}" alt="thumb06"/>
            </li>
            <li>
                <img src="{{pictures.data[8].images.standard_resolution.url}}" alt="thumb07"/>
            </li>
            <li>
                <img src="{{pictures.data[13].images.standard_resolution.url}}" alt="thumb08"/>
            </li>
          </ul>
      </div>
    </section>
</div>
