<!DOCTYPE html>
<html>
    <head>
        <title>Rescue Teams</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
        <style type="text/css">
            /* Set a size for our map container, the Google Map will take up 100% of this container */
            #map {
                width: 100%;
                height: 800px;
            }
            .input-field input[type=search] {
              display: block;
              line-height: inherit;
              padding-left: 4rem;
              width: calc(100% - 4rem);
            }
            .input-field {
              position: relative;
              min-width: 300px;
                overflow: hidden;
              margin-top: 1rem;
            }
            .input-field input[type=search] ~ .mdi-navigation-close {
              position: absolute;
              top: 0;
              right: 1rem;
              color: transparent;
              cursor: pointer;
              font-size: 2rem;
              transition: .3s color;
            }
        </style>

        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        
        <script type="text/javascript">
  
            google.maps.event.addDomListener(window, 'load', init);
        
            function init() {
                var mapOptions = {
                    // How zoomed in you want the map to start at (always required)
                    zoom: 2,
                    draggable: false,
                    scrollwheel: false,

                    // The latitude and longitude to center the map (always required)
                    center: new google.maps.LatLng(40.6700, -73.9400), // New York
                };

                // Get the HTML DOM element that will contain your map 
                // We are using a div with id="map" seen below in the <body>
                var mapElement = document.getElementById('map');

                // Create the Google Map using our element and options defined above
                var map = new google.maps.Map(mapElement, mapOptions);

                // Let's also add a marker while we're at it
                var coordinates = [40.718047, -74.014129, 37.354107, -121.9552386, 37.427475, -122.169719, 40.343989, -74.651448, 40.807536, -73.962573, 42.056459, -87.675267, 40.793395, -77.860001, 30.284918, -97.734057, 42.453449, -76.473503, 33.424240, -111.928053, 43.076592, -89.412487, 42.350500, -71.105399, 41.826772, -71.402548, 38.936845, -77.090877, 38.986918, -76.942554, 51.756634, -1.254704, 52.204267, 0.114908, 47.375723, 8.547941, 51.498800, -0.174877, 55.711948, 13.203493, 1.296643, 103.776394, 19.133430, 72.913268, 36.369392, 127.364025, -27.495431, 153.012030, -33.888584, 151.187347, 52.060306, 4.504821];

            teamlabels = ['New York University: $550', 'Santa Clara University: $820', 'Stanford University: $2700', 'Princeton University: $1200', 'City University of New York: $580', 'Northwestern University: $850', 'Pennsylvania State University: $500', 'University of Texas at Austin: $1500', 'State University of New York: $650', 'Arizona State University: $1170', 'University of Wisconsin-Madison: $1670', 'University of Boston: $790', 'College Hill: $500', 'Northwestern University: $750', 'University of Maryland at College Part: $1300', 'University of Oxford: $670', 'University of Cambridge: $567', 'ETH Zurich: $900', 'Imperial College: $800', 'Lund University: $ 750', 'National University of Singapore: $ 500', 'Indian Institute of Technology, Bombay: $450', 'KAIST: $300', 'University of Queensland: $500', 'University of Sydney: $300', 'Erasmus University: $ 670'];

                var i = 0;
                for( var j = 0; j < coordinates.length-1; j = j+2)
                {
                    var marker = new google.maps.Marker({
                        position: new google.maps.LatLng(coordinates[j], coordinates[j+1]),
                        map: map,

                        title: teamlabels[i]
                    });
                    i++;
                }
                //Marker code starts here
                var flightPlanCoordinates = [
                
                    {lat: 35.907757, lng: 127.766922},
                    {lat: 40.339852, lng: 127.510093},
                    {lat: 37.772, lng: -122.214},
                    
                    ];
              var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
              });

              flightPath.setMap(map);
              //Marker code ends here

              // for (var i=0; i<teamlabels.length; i++)
              // {
              //   if(teamlabels[i].length > input.length)
              //   {
              //       for ( var j = 0; j < input.length; j++)
              //       {

              //       }
              //   }
              // }

            }
        </script>
    </head>
    <body>
    <img src="img/logo_clean.png" alt="logo_clean" width="50" height="50"> <h2>LiNK Global</h2> <br>

        <!-- The element that will contain our Google Map. This is used in both the Javascript and CSS above. -->
        <div id="map"></div>
        <!-- <img src="jungha.png" style="position: absolute; bottom: 100px; left: 30%; opacity: .25"> -->
    </body>
</html>
