
#forum  {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
  margin-bottom: 50px;
  margin-top: 50px;
}

#forum button{
  background: #E46666;
  border: 1px solid  red; 
  color:white;
}

#forum button:hover{
  background: #EA9898;
  color:white;
}

#forum .content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}

#forum .centerplease {
  margin: 0 auto;
  max-width: auto;
  font-size: 40px;
}

#forum .title {
  position: relative;
  background: #B96C6C;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
  color: white;
  box-shadow: 3px 3px 2px 2px rgba(50, 50, 50, 0.75);
  max-width: 500px;
  overflow-y:hidden;
  overflow-x:scroll;
}



#forum .post-content {

  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: scroll;
  z-index: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}


#forum form.form-comment{


  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}


#forum .comments {
  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  

}

#forum .description {
  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
  /*border:1px solid #EA9898;*/
}

#forum div.content-of-post {
  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: 0;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}


/*
#forum .comments {
  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

#forum .comment-box {
  background: white;
  padding: 0px 15px;
  margin: 5px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}*/

#forum .post:checked ~ .description{
  height: auto;
  opacity: 1;
  padding: 15px;
}

#forum .post:checked ~ .post-content{
  height: auto;
  opacity: 1;
  padding: 15px;
}

#forum .post:checked ~ form.form-comment{
  height: auto;
  opacity: 1;
  padding: 15px;
}
#forum .post:checked ~ .comments{
  height: auto;
  opacity: 1;
  padding: 15px;
}

#forum .post:checked ~ .comment{
  height: auto;
  opacity: 1;
  padding: 15px;
}

#forum .post:checked ~ div.content-of-post{
  height: auto;
  opacity: 1;
  padding: 15px;
}
/*#forum .post:checked ~ .comments{
  height: auto;
  opacity: 1;
  padding: 15px;
}
#forum .post:checked ~ .comment-box{
  height: auto;
  opacity: 1;
  padding: 15px;
}*/


#forum .plus {
  position: absolute;
  margin-left: 0;
  margin-top: 0;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
  color: white;
  background-color: rgb(220, 57, 38);
  height:40px;
  width:40px;
  text-align: center;
  padding-top:6px;

}

#forum .post:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#forum .post {
  display: none;
}


#forum .hidden-post-content{
	display: none;

}

#forum .single-post{
  margin: 15px 0;
}

#forum #hidden-post {
  display: none;
}

 .model-dialog {
  z-index: 2;
 }
 .modal-backdrop.fade.in {

    height:0;
}

#forum .name-span{
  font-weight: 600;
  font-size: 14px;
}



#forum .username-box {
  /*width:25%;*/
}
#forum .comment-box {
  width:50%;
}
#forum .comment-box input {
  width:100%;
}

#forum .comment{
  margin: 10px 0;
  margin-left:18%;
  display: block;
}

#forum .single-post form{
  width: 95%;
  text-align: right;
  padding-left: 20%;
}


