html,body{
	height: 100%;
}
.navbar-fixed-bottom{
	margin-bottom: 0px;
	border-width: 6px 0 0;
    height: 60px; /* must not use percents here, must be 60px*/    
}
#content {
    position: fixed;
    top: 0px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow:auto;
}
.header-div {

	height: 665px;
	width: 100%;
	background-color: #dd3928;
	text-align: center;
	font-size: 50pt;
	font-family: Futura;
	padding-top: 30px;
	color: black;

}

.header {
	margin-bottom: 0px;
}

.rescue {
	color: white;
}

.subtitle {
	color: white;
	font-size: 25pt;
	font-weight: lighter;
	margin-bottom: 60px;
}

#jungha {
	opacity: 1;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px !important;
}

.navbar-nav{
	text-align: center;
	width: 100%;
}
nav li {
	border: 1px solid black;
	width: 355px;
}

nav li:hover {
	background-color: #dd3928;
	color: black;
}
.content {

}
/* Responsive Nav Bar */
.navbar-nav>li {
	width: 25%;
}
#wrapper{
	margin: 0px;
}
#nav_container{
	position: absolute;
	width: 100%;
	margin-bottom: 0px;
}
