html,body{
	height: 100%;
}

.navbar-fixed-bottom {
	margin-bottom: 0px;
	border-width: 6px 0 0;
    height: 60px; /* must not use percents here, must be 60px*/
}

/*#content {
    position: fixed;
    top: 0px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow: auto;
}*/
#content {
	height: 100%;
}

.header-div {
	height: 100%;
	width: 100%;
	background-color: #dd3928;
	text-align: center;
	font-size: 60pt;
	font-family: Futura;
	padding-top: 5px;
	color: black;
	position: relative;
	display: inline-block;
}

#logo {
	margin: 0px auto;
	display: block;
}

.container {
	left: 300px;
	position: absolute;
	background-color: #fff;
    background-color: rgba(255,255,255,0.5);
	width: 500px;
	margin:0 auto;
}

.header {
	margin-bottom: 0px;
	display: inline-block;

}

.rescue {
	color: white;
}

.subtitle {
	color: #801906;
	font-size: 20pt;
	font-weight: lighter;
	margin-bottom: 60px;
}

#jungha {
	opacity: 1;
	height: 488px;
	width: 383px;
	/*position: relative;*/
	/*border: 2px solid white;*/
}

#overlay {
	/*position: absolute;*/
	height: 252px;
	width: 414px;
	top: 39%;
	bottom:0;
	left: 35%;
	right:0;
	z-index: 1000;
    background-color: #dd3928;
    opacity: .9;
    border-bottom: 2px dashed white;
    padding-top: 10%;
	/* DJ added to fix the centering issue */
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	/*margin-top: 100px;*/
}

.progress {
	font-size: 20pt;
	height: 35px;
	background-color: #dd3928;
	color: white;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar {
	border-radius: 0px;
	margin-bottom: 0px !important;
}

.navbar-nav{
	text-align: center;
	width: 100%;
}
nav li {
	border: 1px solid black;
	width: 355px;
}

nav li:hover {
	background-color: #dd3928;
	color: black;
}

/*#updates {
	height: 500px;
	width: 100%;
	text-align: center;
	background-color: red;
}*/

/* Responsive Nav Bar */
.navbar-nav>li {
	width: 20%;
}
.ng-scope {
	height: 100% !important;
}
/*#wrapper{
	margin: 0px;
}*/
/*#nav_container{
	position: absolute;
	width: 100%;
	margin-bottom: 0px;
}
*/
